body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-letra);
    background-color: #f2f2f2;
}

p, figure {
    margin: 0px;
}

/* - - - - - ENCABEZADO - - - - - */
header {
    padding: 13px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    background: linear-gradient(180deg, pink, #f2f2f2);
    justify-content: center;
}

#logo-padre {
    margin: 0px;
    position: relative;
    display: flex;
    width: 100%;
}

#logo-padre::after{
    content: "Pre-alpha";
    color: #a8173e;
    margin-left: -15px;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    display: flex;
    align-items: end;
    letter-spacing: 1px;
}

#logo {
    border: 0px;
    height: 45px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.anclas {
    color: #40182362;
    text-decoration: none;
    margin: 0px 10px;
}

.anclas:hover {
    color: #220c1279;
    font-weight: bold;
}

/* - - - - - MAIN - - - - - */
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px;
    margin: 20px 30px;
}

.video {
    font-size: 16px;
    font-weight: bold;
}

.video p {
    margin: 8px 8px;
}

.video a {
    text-decoration: none;
    color: var(--color-letra);
}

.miniatura {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.432);
}

.imagen {
    margin: 0px;
    text-align: center;
    transition: 0.3s;
}

.imagen:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.imagen img {
    width: 100%;
    border-radius: 5px;
}

/* - - - - - FOOTER - - - - - */
#favicon-padre {
    text-align: center;
}

#favicon {
    width: 50px;
    margin-bottom: 10px;
}

#creditos {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    text-align: center;
}

#pagina img {
    display: flex;
}

.margen {
    margin-bottom: 5px;
}

.enlace {
    text-decoration: none;
    color: var(--color-letra-resaltado);
    font-weight: bold;
}

.enlace:hover {
    color: var(--color-letra);
}

/* - - - - - MOVIL - - - - - */
@media (max-width: 865px) {

    /* - - - - - ENCABEZADO - - - - - */
    nav {
        display: none;
    }

    header {
        display: block;
        text-align: center;
    }

    #logo-padre {
        justify-content: center;
    }

    main {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

}

@media (max-width: 500px) {
    /* - - - - - MAIN - - - - - */
    main {
        margin: 15px 10px;
    }
    
    .video {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        align-items: center;
    }
    
    .video p {
        margin-left: 15px;
        font-size: 14px;
    }

    #creditos {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }

    #autor {
        margin-top: 15px;
        margin-bottom: 15px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}